
# OS files
.DS_Store

# Dependencies
node_modules/

# APM dependencies
apm_modules/


# APM integrated skills
.github/skills/*-apm/
# APM integrated skills
.superpowers/
.gstack/

# Jekyll local build
_site/
Gemfile.lock
